<section>
    <header>
        <h2 class="page-title" data-bind="text: title"></h2>
    </header>
    <div data-bind="with: user">
        <div>
            <label>Name:</label>
            <input data-bind="value: displayName" placeholder="[name]" />
        </div>
       <!-- <div>
            <label>Password:</label>
            <input data-bind="value: password" placeholder="[password]" />
        </div>-->

        <div>
            <label>Active:</label>
            <input type="checkbox" data-bind="checked: active" placeholder="[active]" />
        </div>
    </div>
    <div class="button-margin">
        <button class="btn btn-info"
            data-bind="click: cancel, enable: hasChanges">
            Cancel</button>
        <button class="btn btn-info"
            data-bind="click: save, enable: canSave">
            Save</button>

    </div>
</section>
