@if (Request.IsAuthenticated) {
 <div class="usersettings">
     <div class="usersettingsleft" style="text-align: right">
           Hello @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "username", title = "Manage" })
     </div>
     <div class="usersettingsleft" style="text-align: right">
          @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
     </div>

 </div> 
}