<section>
    <header>
        <h2 class="page-title" data-bind="text: title"></h2>
    </header>
    <table data-bind="with: issue">
        <tr>
           <td> <label>Subject:</label></td>
            <td> <input data-bind="value: issueSubject" placeholder="[subject]" /></td>
            
        </tr>
       <tr>
          <td>  <label>Details:</label></td>
             <td> <input data-bind="value: issueDetails" placeholder="[details]" /></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>Assigned to :</td>
            <td><select data-bind="options: $parent.issueUsers,
                    optionsText: 'displayName',
                    value: user,
                    optionsCaption: 'Choose...'">
            </select></td>
        </tr>
        <tr>
            <td>&nbsp;
            </td>
        </tr>
        <tr>
            <td>&nbsp;
            </td>
        </tr>
        </table>
    
     <div class="button-margin">
        <button class="btn btn-info"
            data-bind="click: cancel">
            Cancel</button>
        <button class="btn btn-info"
            data-bind="click: save, enable: canSave">
            Save</button>

         <button class="btn btn-info"
            data-bind="click: logTime">
            Log Time</button>
    </div>
        <div class="CSSTableGenerator" >
            <table>
                <tr>
                    <td>
                       <table data-bind="foreach: issue().timeSpents"   >
                                <tr>
                                    <td>User</td>
                                    <td>Time Spent<br>(Hrs)</td>
                                    <td>On</td>

                                </tr>
                                <tr>
                                        <td>
                                        <small data-bind="text: user().displayName"></small>
                                    </td>

                                    <td>
                                        <small data-bind="text: timeSpent1" ></small>
                                    </td>
                                    <td>
                                        <small data-bind="text: moment(onDate()).format('L')"></small>
                                    </td>
                                </tr>
                            </table>
                    </td>
                    <td>
                         <table id="tblLogWork"  style="visibility:hidden" data-bind="with: issue" >
                                       <tr>
                                           <td>User</td>
                                           <td><select data-bind="options: $parent.issueUsers,
                                                optionsText: 'displayName',
                                                value: user,
                                                optionsCaption: 'Choose...'">
                                                </select>
                                           </td>
                                       </tr> 
                                        <tr>
                                            <td>Time Spent</td>
                                            <td>
                                                <input type="text" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>For Date</td>
                                            <td>
                                                <input type="text" />
                                            </td>
                                        </tr>
                                </table>
                    </td>
                </tr>
            </table>
     
       
        </div>
      
   
</section>
