<section>
    <header>
        <h2 class="page-title" data-bind="text: title"></h2>
    </header>
    <table data-bind="with: timeSpent">
          <tr>
            <td>Assigned to :</td>
            <td><select data-bind="options: $parent.users,
                optionsText: 'displayName',
                value: user,
                optionsCaption: 'Choose...',
                event: { change: $parent.loadIssues }" >
            </select></td>
        </tr>
        <tr>
            <td>Issue ID:</td>
            <td><select data-bind="options: $parent.issues,
                    optionsText: 'issueSubject',
                    value: issue,
                    optionsCaption: 'Choose...'">
            </select></td>
        </tr>
        <tr>
           <td> <label>Date:</label></td>
            <td> <input   placeholder="[onDate]"  type="text" data-bind="datepicker: onDate" /></td>
        </tr>
       <tr>
          <td>  <label>Hrs:</label></td>
             <td> <input data-bind="value: timeSpent1" placeholder="[Hrs]" /></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
      
    </table>
    
    
</section>
        <button class="btn btn-info"
            data-bind="click: cancel, enable: hasChanges">
            Cancel</button>
        <button class="btn btn-info"
            data-bind="click: save, enable: canSave">
            Save</button>

    
