<section>
    <header>
        <h2 class="page-title" data-bind="text: title"></h2>

        <div class="search-content">
            <small>Name: </small>
            <input data-bind="value: searchName" placeholder="[issueSubject]" />
            <button class="btn btn-info"
                data-bind="click: search">
                Search</button>
            <button class="btn btn-info"
                data-bind="click: clearSearch">
                Clear</button>
            <button class="btn btn-info"
                data-bind="click: addTimeSpent">
                Add</button>
        </div>
    </header>
    <div class="contact-counter">
        <small data-bind="text: timeSpents().length"></small>
        <small>found</small>
    </div>
    <section class="view-list" data-bind="foreach: timeSpents">
        <article class="contact-content" title="Go to edit">
            <div title="Go to edit">
                
               <!-- <small data-bind="text: moment(onDate()).format('L') " class="contactName "></small>-->
                <small data-bind="text: user_UserName" class="contactName "></small>
                <small  class="contactName "> Logged </small>
                <small data-bind="text: timeSpent1" class="contactName "></small>
                <small  class="contactName "> Hrs for </small>
                <small data-bind="text: issue_IssueSubject" class="contactName "></small>
            </div>
            
        </article>
    </section>
    <footer>
        <h2 class="contact-footer" style=""></h2>
    </footer>
</section>
